<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container container-custom text-center">
    <h1>Welcome to Library Management</h1>
    <a href="/faculties" class="btn btn-primary btn-lg btn-custom">View Faculties</a>
    <a href="/groups" class="btn btn-success btn-lg btn-custom">View Groups</a>
    <a href="/students" class="btn btn-info btn-lg btn-custom">View Students</a>
</div>
</body>

</html>
